{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.username.label }}
        {{ form.username() }}
        <br>
        {{ form.email.label }}
        {{ form.email() }}
        <br>
        {{ form.password.label }}
        {{ form.password() }}
        <br>
        {{ form.confirm.label }}
        {{ form.confirm() }}
        <br>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <input type="submit" value="注册">
    </form>
{% endblock %}